/* Header */
header {
    width: 100%;
    height: 400px;
    padding-top: 3em;
    background: no-repeat lightgrey url(images/cliff_ocean.jpg);
    background-size: cover;
  }
  .main-header {
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    margin: 0 auto;
    min-height: 100px;
  }
  .main-header .logo img {
    width: 100px;
    height: 100px;
    margin: 0;
  }
  
  /* Navigation */
  .main-menu {
    margin-left: 227px;
    font-weight: 400;
  }
  .main-menu ul {
    padding: 0;
  }
  .main-menu ul li {
    list-style-type: none;
    display: inline-block;
    float: left;
    padding-left: 25px;
    padding-right: 25px;
    border-left: 1px solid rgba(202, 204, 202, 0.6);
    line-height: 100px;
    text-transform: uppercase;
    font-size: 14px;
  }
  .main-menu ul li:first-child {
    border-left: none;
  }
  .main-menu ul li a {
    text-decoration: none;
    color: #888;
  }
  .main-menu ul li a:hover {
    color: #9ed034;
  }
  .main-menu ul li.active {
    background: #9ed034;
    border: none;
  }
  .main-menu ul li.active a {
    color: #fff;
  }
  
  /* Main */
  main {
    padding: 3em 6em 3em 5.5em;
    margin: 2em 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }
  main h1 {
    font-size: 2.5em;
    padding-bottom: 0.5em;
    color: #9ed034;
  }
  main h2 {
    font-size: 1.7em;
  }
  main .border {
    border: 1px solid #ccc;
  }
  
  /* Partners */
  section {
    width: 100%;
    background-color: #4288C3;
    padding-top: 1em;
  }

  section .rounded-circle {
    display: inline-block;
    padding: 1.3em 1.5em;
    background-color: #fff;
    border-radius: 50%;
    width: 90px;
    height: 90px;
  }
  
  /* Footer */
  footer {
    width: 100%;
  }
  footer #nondisclaimer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ecfab8;
    padding: 1em 5em;
  }
  footer #nondisclaimer .copy {
    font-size: 0.9em;
  }
  footer #nondisclaimer .social {
    display: flex;
    justify-content: center;
    width: 100px;
  }
  footer #nondisclaimer .social .fa {
    padding: 15px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
  footer #nondisclaimer .social .fa-facebook {
    background: #3B5998;
    color: white;
  }
  footer #nondisclaimer .social .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  footer #nondisclaimer .social .fa-instagram {
    background: #125688;
    color: white;
  }
  footer #disclaimer {
    background-color: #ecfab8;
    padding: 1em 5em;
  }
  footer #disclaimer p {
    font-size: 0.85em;
    text-align: center;
    color: black;
  }
  
  @media (max-width: 768px) {
    header {
      text-align: center;
    }
    .main-header {
      width: auto;
      margin: 0;
    }
    .main-header .logo img {
      margin: 0 auto;
    }
    footer #nondisclaimer {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    footer #nondisclaimer .social {
      justify-content: center;
      padding-top: 1em;
    }
  }
  
  @media (max-width: 992px) {
    .logo img {
      position: relative;
      bottom: 8px;
    }
    .main-menu {
      width: 100%;
      background-color: rgb(255, 255, 255);
    }
    .main-menu ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0;
      margin: 0;
    }
    .main-menu ul li {
      border: none;
      width: 100%;
      text-align: center;
      padding: 10px 0;
      line-height: 1.5;
    }
    main {
      padding: 3em 1em 3em 1em;
      margin: 0;
    }
    #home .main-col-content {
      padding: 25px;
      min-height: 450px;
      margin-top: 1em;
    }
  }
  